@{
	ViewData["Title"] = "Login";
}

<div class="text-center">
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1 class="display-4">Sign In</h1>							
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<form method="post">
								<div class="form-group">
									<span class="form-label">Nome de Usuário</span>
									<input class="form-control" type="text" id="usuario" name="usuario" placeholder="Nome de Usuário" required>
								</div>
								<div class="form-group">
									<span class="form-label">Senha</span>
									<input class="form-control" type="password" id="senha" name="senha" placeholder="Senha" required>
								</div>									

								<div class="d-grid gap-2">
									<button class="btn btn-primary btn-lg" type="submit">Login</button>									
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
