@model EnderecoModel

@{
	ViewData["Title"] = "Apagar Endereço";
}

<div class="text-center">
	<h3>Realmente deseja apagar o endereço (@Model.Logradouro)?</h3>
</div>

<div class="d-grid gap-2">
	<a class="btn btn-primary btn-lg" role="button" asp-action="Index" asp-controller="Endereco">Cancelar Exclusão</a>
	<a class="btn btn-danger btn-lg" role="button" asp-action="Apagar" asp-controller="Endereco" asp-route-id="@Model.Id">Confirmar Exclusão</a>
</div>